<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Moderno</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="chat-container">
        <h1>WebSocket Chat Moderno</h1>
        <h2>ID do Usuário: <span id="ws-id"></span></h2>
        <form id="messageForm">
            <input type="text" id="messageText" autocomplete="off" aria-label="Digite sua mensagem">
            <button type="submit">Enviar</button>
        </form>
        <ul id='messages'></ul>
        <div id="feedback" role="alert" aria-live="assertive" class="feedback"></div>
        <template id="messageTemplate">
            <li></li>
        </template>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var client_id = Date.now();
            var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);
            var wsIdElement = document.getElementById("ws-id");
            var messageForm = document.getElementById("messageForm");
            var messageText = document.getElementById("messageText");
            var messagesList = document.getElementById("messages");
            var feedback = document.getElementById("feedback");
            var messageTemplate = document.getElementById("messageTemplate");

            wsIdElement.textContent = client_id;

            ws.onmessage = function(event) {
                var message = messageTemplate.content.cloneNode(true).querySelector("li");
                message.textContent = event.data;
                messagesList.appendChild(message);
            };

            messageForm.addEventListener("submit", function(event) {
                event.preventDefault();
                var message = messageText.value.trim();
                if (message !== "") {
                    ws.send(message);
                    messageText.value = "";
                    showFeedback("Mensagem enviada com sucesso.", "success");
                } else {
                    showFeedback("Por favor, digite uma mensagem.", "error");
                }
            });

            ws.onerror = function(event) {
                console.error("WebSocket error:", event);
                showFeedback("Erro no WebSocket. Tente novamente mais tarde.", "error");
            };

            ws.onclose = function(event) {
                console.log("WebSocket closed:", event);
                showFeedback("Conexão do WebSocket fechada.", "warning");
            };

            function showFeedback(message, type) {
                feedback.textContent = message;
                feedback.style.display = "block";
                feedback.className = `feedback ${type}`;
                setTimeout(function() {
                    feedback.style.display = "none";
                }, 3000);
            }
        });
    </script>
</body>
</html>
